.count-down {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.box {
  flex: 1 1 1.2rem;
  padding: 0.5rem;
  border: 1px solid #1d3557;
  border-radius: 3px;
  text-align: center;
  background: #a8dadc;
}

.box h3 {
  font-size: 3.12rem;
  color: #f1faee;
}

.box span {
  font-size: 1.25rem;
  color: #1d3557;
  font-weight: bold;
}

@media (max-width: 500px) {
  .count-down {
    gap: 0.5rem;
  }

  .box h3 {
    font-size: 2rem;
  }

  .box span {
    font-size: 1rem;
  }
}
